.img-brand {
  height: 48px;
}

.social-login {
  padding: 7px 0;

  :first-child {
    margin-left: 0;
  }

  a {
    display: inline-block;
    text-decoration: none;
    margin: 0 7px;

    img {
      width: 32px;
    }
  }
}