# IDEs project files
.idea
.vscode
nbproject
.buildpath
.project
.settings

# OS cache files
Thumbs.db
.DS_Store

# Composer files & vendor dir
composer.phar
composer.lock
/vendor
/runtime

# Project files
.env
.env.deploy
/node_modules
/package-lock.json