{#
    Usage example:
    {{ this.render('/layouts/widgets/form-errors', {'form': form}) | raw }}
#}

{% if form.errors %}
    <div class="uk-margin uk-text-left">
        <div class="uk-card">
            <div class="uk-alert-danger" uk-alert>
                <ul>
                    {% for error in form_errors(form) %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}