<div class="empty">
    <div class="empty-icon">
        <i class="material-icons md-64">
            {{ icon }}
        </i>
    </div>
    <p class="empty-title h1">
        {{ title }}
    </p>
    <p class="empty-subtitle">
        {{ message }}
    </p>
</div>