{% if session().hasFlash('errors') %}
    <div class="toast toast-error toast-rectangle">
        <ul>
            {% for error in session().getFlash('errors') %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if session().hasFlash('messages') %}
    <div class="toast toast-success toast-rectangle">
        <ul>
            {% for message in session().getFlash('messages') %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}