{% if session().hasFlash('errors') %}
    <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <ul>
            {% for error in session().getFlash('errors') %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if session().hasFlash('messages') %}
    <div class="uk-alert-success" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <ul>
            {% for message in session().getFlash('messages') %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}