{% extends '@mails/html.twig' %}

{% block content %}
    <h1>{{ t('mail', 'auth/reset/title') }}</h1>

    <p>{{ t('mail', 'auth/reset/description') }}</p>

    <a href="{{ link }}">{{ t('mail', 'auth/reset/change-button') }}</a>
{% endblock %}