.uk-button-success {
  @extend .uk-button-primary;

  background-color: $button-success-background;

  &:hover {
    background-color: $button-success-hover-background;
  }
}

.uk-button-warning {
  @extend .uk-button-primary;

  background-color: $button-warning-background;

  &:hover {
    background-color: $button-warning-hover-background;
  }
}